<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SydvestBo" connectionString="Data Source=localhost;Initial Catalog=SydvestBo;User ID=SKAB1-PC-08\Tec;Password=;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>